<div class="gradient-bg-welcome">

  <div class="flex w-full justify-center items-center">
    <div class="flex md:flex-row flex-col items-start justify-between md:p-20 py-12 px-4">
      <div class="flex flex-1 justify-start items-start flex-col md:mr-10">
        <h1 class="text-3xl sm:text-5xl text-white text-gradient py-1">Send Cryto <br> accross the world!</h1>
        <p class="text-left mt-5 text-white font-light md:w-9/12 w-11/12 text-base">Explore the crypto world. Buy
          and sell cryptocurrencies easily on Krypto</p><button type="button"
          class="flex flex-row justify-center items-center my-5 bg-[#2952e3] p-3 rounded-full cursor-pointer hover:bg[#2546bd] text-white text-base font-semibold">Connect
          Wallet</button>
        <div class="grid sm:grid-cols-3 grid-cols-2 w-full mt-10">
          <div
            class="rounded-tl-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white ">
            Reliability</div>
          <div
            class="min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">
            Security</div>
          <div
            class="rounded-tr-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white ">
            Etherium</div>
          <div
            class="rounded-bl-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white ">
            Web 3.0</div>
          <div
            class="min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">
            Low fees</div>
          <div
            class="rounded-br-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white ">
            Blockchain</div>
        </div>
      </div>
      <div class="flex flex-col flex-1 items-center justify-start w-full md:mt-0 mt-10">
        <div
          class="p-3 justify-end items-start flex-col rounded-xl h-40 sm:w-72 w-full my-5 eth-card white-glassmorphism">
          <div class="flex justify-between flex-col w-full h-full">
            <div class="flex justify-between items-start">
              <div class="w-10 h-10 rounded-full border-2 border-white flex justify-center items-center"><svg
                  stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24"
                  font-size="21" color="#fff" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                  style="color: rgb(255, 255, 255);">
                  <title></title>
                  <path
                    d="M11.944 17.97L4.58 13.62 11.943 24l7.37-10.38-7.372 4.35h.003zM12.056 0L4.69 12.223l7.365 4.354 7.365-4.35L12.056 0z">
                  </path>
                </svg></div><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                font-size="17" color="#fff" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(255, 255, 255);">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
                </path>
              </svg>
            </div>
            <div>
              <p class="text-white font-light text-sm">Address</p>
              <p class="text-white font-semibold text-lg mt-1">Ethereum</p>
            </div>
          </div>
        </div>
        <div class="p-5 sm:w-96 w-full flex flex-col justify-start items-center blue-glassmorphism"><input
            placeholder="Address To" name="addressTo" type="text"
            class="my-2 w-full rounded-sm p-2 outline-none bg-transparent text-white border-none text-sm white-glassmorphism"
            value=""><input placeholder="Amount (ETH)" name="amount" type="text"
            class="my-2 w-full rounded-sm p-2 outline-none bg-transparent text-white border-none text-sm white-glassmorphism"
            value=""><input placeholder="Keyword (Gif)" name="keyword" type="text"
            class="my-2 w-full rounded-sm p-2 outline-none bg-transparent text-white border-none text-sm white-glassmorphism"
            value=""><input placeholder="Enter message" name="message" type="text"
            class="my-2 w-full rounded-sm p-2 outline-none bg-transparent text-white border-none text-sm white-glassmorphism"
            value="">
          <div class="h-[1px] w-full bg-gray-400 my-2"></div><button
            class="text-white w-full mt-2 border-[1px] p-2 border-[#3d4f7c] rounded-full cursor-pointer"
            type="button">Send
            Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row w-full justify-center items-center gradient-bg-services">
  <div class="flex md:flex-row flex-col items-center justify-between md:p-20 py-12 px-4">
    <div class="flex-1 flex flex-col justify-start items-start">
      <h1 class="text-white text-3xl sm:text-5xl py-2 text-gradient">Services that we <br> continue to improve</h1>
    </div>
  </div>
  <div class="flex-1 flex flex-col justify-start items-center">
    <div class="flex flex-row justify-start items-center white-glassmorphism p-3 m-2 cursor-pointer hover:showdow-xl">
      <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#2952E3]"><svg stroke="currentColor"
          fill="currentColor" stroke-width="0" viewBox="0 0 16 16" font-size="21" class="text-white" height="1em"
          width="1em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z">
          </path>
          <path
            d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z">
          </path>
        </svg></div>
      <div class="ml-5 flex flex-col flex-1">
        <h1 class="mt-2 text-white text-lg">Security Guaranteed</h1>
        <p class="mt-2 text-white text-sm md:w-9/12 ">Security is guaranteed. We always maintain privacy and
          maintain the quality of the product</p>
      </div>
    </div>
    <div class="flex flex-row justify-start items-center white-glassmorphism p-3 m-2 cursor-pointer hover:showdow-xl">
      <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#8945F8]"><svg stroke="currentColor"
          fill="currentColor" stroke-width="0" viewBox="0 0 24 24" font-size="21" class="text-white" height="1em"
          width="1em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
          </path>
          <path
            d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z">
          </path>
        </svg></div>
      <div class="ml-5 flex flex-col flex-1">
        <h1 class="mt-2 text-white text-lg">Best exchange rates</h1>
        <p class="mt-2 text-white text-sm md:w-9/12 ">Security is guaranteed. We always maintain privacy and
          maintain the quality of the product</p>
      </div>
    </div>
    <div class="flex flex-row justify-start items-center white-glassmorphism p-3 m-2 cursor-pointer hover:showdow-xl">
      <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#F84550]"><svg stroke="currentColor"
          fill="currentColor" stroke-width="0" viewBox="0 0 24 24" font-size="21" class="text-white" height="1em"
          width="1em" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path fill="none" d="M0 0H24V24H0z"></path>
            <path
              d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z">
            </path>
          </g>
        </svg></div>
      <div class="ml-5 flex flex-col flex-1">
        <h1 class="mt-2 text-white text-lg">Fastest transactions</h1>
        <p class="mt-2 text-white text-sm md:w-9/12 ">Security is guaranteed. We always maintain privacy and
          maintain the quality of the product</p>
      </div>
    </div>
  </div>
</div>
<div class="flex w-full justify-center items-center 2xl:px-20 gradient-bg-transactions">
  <div class="flex flex-col md:p-12 py-12 px-4 ">
    <h3 class="text-white text-3xl text-center my-2">Connect your account to see the latest transactions</h3>
    <div class="flex flex-wrap justify-center items-center mt-10"></div>
  </div>
</div>
<div class="w-full flex md:justify-center justify-between items-center flex-col p-4 gradient-bg-footer">
  <div class="w-full flex sm:flex-row flex-col justify-between items-center my-4">
    <div class="flex flex-[0.5] justify-center items-center"><img src="/assets/logo.60ecbcf0.png" alt="logo"
        class="w-32"></div>
    <div class="flex flex-1 justify-evenly items-center flex-wrap sm:mt-0 mt-5 w-full">
      <p class="text-white text-base text-center mx-2 cursor-pointer">Market</p>
      <p class="text-white text-base text-center mx-2 cursor-pointer">Exchange</p>
      <p class="text-white text-base text-center mx-2 cursor-pointer">Tutorials</p>
      <p class="text-white text-base text-center mx-2 cursor-pointer">Wallets</p>
    </div>
  </div>
  <div class="flex justify-center item-center flex-col mt-5">
    <p class="text-white text-sm text-center">Come join us</p>
    <p class="text-white text-sm text-center">phuquy.uit@gmail.com</p>
  </div>
  <div class="sm:w-[90%] w-full h-[0.25px] bg-gray-400 mt-5"></div>
  <div class="sm:w-[90%] w-full flex justify-between items-center mt-3">
    <p class="text-white text-sm text-center">@phuquy.dev 2022</p>
    <p class="text-white text-sm text-center">All right reversed</p>
  </div>
</div>